body > div.row.jumbotron > div > div.cart
{
    float:right;
    padding-right: 30px;
}
.tooltip-templates 
{
    display: none;
}
#cartPopup 
{
    border-radius: 10px;
    background-color: #fff;
    width: 40%;
    position: relative;
    margin: auto;
}
#cartPopup  > div 
{    
    margin: 3%;
}
#cartPopup  > div > input 
{
    width: 10%;
}